@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fffff;
  --bgSoft: #081F2D;
  --text: #C8A977;
  --textSoft: #b7bac1;
  --textbg : black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
